:root {
  --soft-pink: hsl(333, 80%, 67%);
  --dark-magenta: hsl(300, 43%, 22%);
  --gray-magenta: hsl(303, 10%, 53%);
  --light-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

::-moz-selection {
  color: var(--light-magenta);
  background-color: var(--gray-magenta);
}

::selection {
  color: var(--light-magenta);
  background-color: var(--gray-magenta);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
  overflow-x: hidden;
  font-weight: 600;
}

.header {
  background-image: url(../images/bg-pattern-top-mobile.svg);
  position: relative;
  background-size: cover;
  padding-bottom: 3rem;
}

.header.row {
  margin-left: -25px;
  margin-right: -25px;
}

.header__content {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  text-align: center;
}

.heading-primary {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 4.7rem;
}

.heading-primary--purple {
  color: var(--dark-magenta);
}

.heading-primary--desktop {
  width: 65%;
}

.heading-tertiary {
  font-weight: 700;
}

.paragraph {
  text-align: center;
  font-weight: 600;
  padding: 1rem;
  font-size: 1.5rem;
}

.paragraph__magenta {
  color: var(--gray-magenta);
}

.paragraph__purple {
  color: var(--dark-magenta);
  padding: 0;
}

.paragraph--desktop {
  text-align: left;
  padding: 0;
  width: 80%;
}

.rating {
  background-color: var(--light-magenta);
}

.rating__star svg:not(:last-child) {
  margin-right: 1rem;
}

.review {
  background-color: var(--dark-magenta);
}

.review__image {
  border-radius: 50%;
}

.review__paragraph {
  color: var(--soft-pink);
  font-weight: 400;
}

.section-reviews {
  background-image: url(../images/bg-pattern-bottom-mobile.svg);
  background-size: cover;
  background-position: bottom;
}

.desktop {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.desktop .bg-top {
  position: absolute;
  z-index: -99;
  background-image: url(../images/bg-pattern-top-desktop.svg);
  top: 0;
  left: 0;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}

.desktop .bg-bottom {
  position: absolute;
  z-index: -99;
  background-image: url(../images/bg-pattern-bottom-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: 105%;
  bottom: -25rem;
  right: 0rem;
}

.desktop .rating:nth-child(1) {
  margin-left: 1rem;
  margin-right: 15rem;
}

.desktop .rating:nth-child(2) {
  margin-left: 7rem;
  margin-right: 9rem;
}

.desktop .rating:nth-child(3) {
  margin-left: 15rem;
  margin-right: 3rem;
}

.desktop .rating__details {
  color: var(--dark-magenta);
  font-weight: 700;
}

.desktop .review__card {
  background-color: var(--dark-magenta);
}

@media only screen and (min-width: 900px) {
  .wrapper {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media only screen and (min-width: 900px) {
  .heading-primary--desktop {
    width: 75%;
  }
}

@media only screen and (max-width: 320px) {
  .paragraph {
    font-size: 1.3rem;
  }
  .rating {
    padding: 2.5rem 2rem;
  }
  .heading-tertiary,
  .review__paragraph {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=main.css.map */